<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="dbconnection" connectionString="Data Source=YUGANDHAR;Initial Catalog=Yugandhar;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.4" newVersion="5.5.13.4"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
